.values,
.render {
    width: 100%;
    min-height: 200px;
    resize: vertical;
    font-family: "Courier New", Courier, monospace;
    border: 1px solid #ccc;
}

.render {
    background: #eee;
}

.jmespath-class {
	display: none;
}

span.whitespace {
    color: #ccc;
}

label {
    font-weight: normal;
}
