<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/convert.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Jinja live parser</title>
</head>

<body>
    <form class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1>Template</h1>
                <textarea id="jinja-template" class="values">{% include 'example_template.html' %}</textarea>
            </div>
            <div class="col-md-4">
                <div>
                    <input type="button" class="btn btn-success" id="convert-jinja" value="Convert" />
                </div>  
                <div>
                    <input type="button" class="btn btn-danger" id="clear" value="Clear" />
                    <input type="button" class="btn" id="settings-btn" value="Settings" />
                </div>
                <div id="settings">
                    <label><input type="checkbox" name="showwhitespaces" /> Show whitespaces</label><br/>
                    <label><input type="checkbox" name="simulatesafe" checked="checked" /> Safe comme sur BOS (pas encore désactivable)</label>
                    <p>
                        <label><input type="radio" name="use_case" value="jinja" checked="checked"/> Jinja seul</label>
                        <label><input type="radio" name="use_case" value="jmespath"/> Jinja + JMESPath</label>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>Values</h1>
                <textarea id="jinja-values" class="values">{% include 'example_values.html' %}</textarea>
            </div>
            <div class="col-md-6">
                <h1 id="jinja-render-title" >Render</h1>
                <div id="jinja-render" class="render"></div>
            </div>
        </div>
        <div class="jmespath-class row">
            <div class="col-md-6" >
                <h1>JMESPath Values</h1>
                <textarea id="jmespath-values" class="values"></textarea>
            </div>
            <div class="col-md-6" >
                <h1 id="jmespath-render-title" >Extraction Results</h1>
                <div id="jmespath-render" class="render"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>Custom Filters - Jinja</h1>
                <ul>
                {% for f_name, f_func in jinja_custom_filters.items() %}
                    <li style="margin: 6px 0"><b>{{ f_name }}</b> {{f_func.__code__.co_varnames |safe}}, defaults: {{f_func.__defaults__ |safe}}:{{ (f_func.__doc__ )[:300] |replace('\n', '<br/>') |safe}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h1>Custom Functions - JMESPath</h1>
                <ul>
                {% for f_name, f_func in jmespath_custom_filters.items() %}
                    <li style="margin: 6px 0"><b>{{ f_name }} (</b>{{f_func.signature |map(attribute='types') |map('join','/') |join(', ') |safe }}<b>)</b>: {{ (f_func.__doc__ ) |replace('\n', '<br/>') |safe if f_func.__doc__ is defined }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </form>
</body>

</html>